
<div class="jumbotron" align="center">
	<h1>Welcome</h1>
</div>

<div class="column">
<h3>Look for data</h3>
<%= link_to "Users", '#', class: "btn btn-default" %>
<%= link_to "Micropost", 'microposts', class: "btn btn-default" %>
</div>
